.markdown_body{
  img{
    border: 1px solid $border;
    max-width: 100%;
    background-color: white;
    @include border-radius(3px);
  }

  blockquote{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 3px solid transparentize(black, 0.8);
    padding-left: 18px;
    background-color: #f5f5f5;
    margin-left: 0;
    > p {
      margin-top: 0;
    }
    > *:last-child{
      margin-bottom: 0;
    }
  }
}

.Night{
  blockquote{
    border-left: 3px solid transparentize(white, 0.8);
    background-color: $dark-border-theme;
  }
}
