@import "plugin";
@import "reset";


$width-max: 850px;

#Wrapper{
  position: relative;
  .content{
    max-width: $width-max;
    #Leftbar{

    }
    #Rightbar{
      position: absolute;
      right: 20px;
      top: 0;
      margin: 0;
    }
    #Main{
      position: relative;
      margin: 0;
      > .box{
        //margin-left: 300px;
      }
    }
  }
}


.item{
  padding: 10px 25px;
  table{
    tbody{
      td:nth-child(2){
        width: 20px;
      }
    }
  }
}



@import "cell";
@import "box";
@import "tab";
@import "top";
