@import "plugin";
@import "reset";

$width-max: 1366px;
$width-right: 270px;

#Wrapper{
  .content{
    //transform: translateX(135px); // 使主体内容居中
    max-width: $width-max;
    #Leftbar{

    }
    #Rightbar{

    }
    #Main{
      > .box{
        //margin-left: 300px;
        .cell{ // 列表和回复
          padding: 10px 25px;
          table{
            tbody{
              td:first-child{
                padding-right: 10px;
                // 列表头像
                a{
                  display: block;
                  //border: 1px solid $color-border;
                  //@include border-radius($radius-avatar);
                }
              }
              td:nth-child(2){
              }
            }
          }
        }
      }
    }
  }
}






@import "cell";
@import "box";
@import "tab";
@import "bottom";
@import "markdown";
@import "top";
@import "profile";
