@import "plugin";



$height-header: 44px;
$padding-header: 7px;

// HEADER
#Top{
  .content{
    max-width: 1366px;
    // SITE NAV
    .site-nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $padding-header;

      > a{
        margin-right: 10px;
        display: block;
        width: 94px;
        height: 30px;
        #Logo{
          height: 34px;
          background-size: 94px 30px;
        }
      }
      // search bar
      #search-container{
        @include border-radius(50px);
        padding-left: 35px;
        height: $height-header - $padding-header * 2;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid $color-border;
        &::before{
          left: 5px;
        }
        &:hover{
          border-color: $color-border-highlight;
        }
        input#search{
          padding: 3px;
          line-height: $height-header - $padding-header * 2 - 2;
        }
      }

      .tools{
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

// 子类别
#SecondaryTabs{
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
  a{
    display: block;
    padding: 2px 6px;
    line-height: 1.3;
    @include border-radius(3px);
    text-decoration: none;
    border: 1px solid transparent;
    &:hover{
      color: black;
      border-color: $color-border-highlight;
      background-color: $bg-light ;
    }
  }
}


#Wrapper{
  .content{
    max-width: 1366px;
    .item{
      padding: 10px 25px;
      table{
        tbody{
          td:nth-child(2){
            width: 20px;
          }
        }
      }
    }
  }
}



